.pi-times {
  color: red;
}

.pi-check {
  color: green;
}

.pi-spinner {
  color: rgb(219, 180, 7);
}

.pi-sun {
  color: green;
}

.pi-sun-inactive {
  color: red;
}

.error-input {
  border-color: red;
}

.error-text {
  color: red;
}

#main {
  min-height: 600px;
  background-color: rgb(247 247 247);
  border: 1px solid #dedede;
  border-bottom: none;
}