.pi-times {
  color: red;
}

.pi-check {
  color: green;
}

.pi-spinner {
  color: rgb(219, 180, 7);
}

.pi-sun {
  color: green;
}

.pi-sun-inactive {
  color: red;
}

.error-input {
  border-color: red;
}

.error-text {
  color: red;
}