.app-header {
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 0;
}

.app-header > div:nth-child(1) {
  text-align: left;
}

.user-name {
  display: inline;
  font-size: large;
}

.user-img {
  border-radius: 50%;
}

.user-area {
  text-align: right;
  margin: auto;
  color: black;
}

.img-border-radius-5 {
  border-radius: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.user-dropdown {
  display: inline;
  position: absolute;
  border: 1px solid;
  left: 0;
  top: 30px;
  background-color: white;
  text-align: left;
  z-index: 3;
}

.user-dropdown div {
  border-bottom: 1px solid;
  padding: 5px 10px;
  cursor: pointer;
}

.user-dropdown div:hover {
  background-color: rgb(238, 240, 240);
}

.user-dropdown div:last-child {
  border-bottom: none;
}

.app-header button {
  padding: 2px 3px;
  vertical-align: bottom;
}

.user-actions {
  display: inline;
}

.guest-actions {
  display: none;
}