.nav-area {
  background-color: #1266dd;
}

.nav {
  color: white;
}

.nav > .nav-item > a {
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #ed384a !important;
}

.nav-pills .nav-link {
  border-radius: unset !important;
}